@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/myriadpro-regular.eot');
  src: url('../fonts/myriadpro-regular.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/myriadpro-regular.woff2') format('woff2'), 
  url('../fonts/myriadpro-regular.woff') format('woff'), 
  url('../fonts/myriadpro-regular.ttf') format('truetype'), 
  url('../fonts/myriadpro-regular.svg#myriadpro-regular') format('svg');
}

body {
  margin: 0;
  font-family: 'MyriadPro-Regular', Arial;
  color: black; 
}

a:link, a:visited, a:hover, a:active {
  color: black;
}

a{
  text-decoration: none
}

.top-block {
  background-color: white;
  background-image: url(../images/bg1.png);
  background-size: cover;
  height: 1000px;
  font-size: 120%;
}

.logo {
  padding-top: 15px;
  position: absolute;
  left: 25px;
}

.main-menu {
  padding-top: 2%;
  padding-left: 35%;
  font-weight: bold;
}

.main-menu ul {
  list-style: none;
}

.main-menu li {
  float: left;
  margin-right: 4em;
}

.main-menu .phone {
  float: right;  
  color: #d65ee8;
}

.main-promo{
  padding-top: 5%;
  padding-left: 5%;
  font-size: 150%;
}

.green-text{
  color: #59d56d;
}

.main-promo .small-text{
  font-size: 80%;
}

.button-order {
  font-weight: 700;
  color: black;
  text-decoration: none;
  padding: 1em 2em;
  border-radius: 30px;
  background: #70b8d9;
  box-shadow: 0 -2px #588da5 inset;
  transition: 0.2s;
} 
